<p id = "logo">Animotion</p>

<div class = "vrm-container">
   <button class="vrm-selector glow-on-hover" type="button" (click)="SelectModel('https://cdn.glitch.global/14365248-98f0-4e5a-a5a3-1a7cd5ad47c8/uwugirl.vrm?v=1652337472157')">
      <img class="vrm-image" src="/../../../assets/images/test.png" alt="virtual model black haired boy with glasses"/>
   </button>
  
   <button class="vrm-selector glow-on-hover" type="button" (click)="SelectModel('https://cdn.glitch.me/14365248-98f0-4e5a-a5a3-1a7cd5ad47c8/rich_girl.vrm?v=1663588646001')">
      <img class="vrm-image" src="/../../../assets/images/test.png" alt="virtual model black haired boy with glasses"/>
   </button>
  
   <button class="vrm-selector glow-on-hover" type="button" (click)="SelectModel('Model3')">
      <img class="vrm-image" src="/../../../assets/images/test.png" alt="virtual model black haired boy with glasses"/>
   </button>
</div>

<div class="container">
   <a href="menu" class="btn btn-primary">Mediaplayer</a>
   <a href="about" class="btn btn-primary">About us</a>
</div>