@font-face {
  font-family: "Jelly";
  font-display: block;
  src: url("https://yeemachine.github.io/kalidoface-live2d-models/Font/kalidoface-jelly.ttf")
    format("truetype");
}
h1 {
  font-family: "Jelly";
  font-size: 32px;
  color: white;
  position: absolute;
  top: -12px;
  left: 16px;
  font-weight: normal;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1:hover {
  color: #13a3f3;
}
a,
a:visited,
a:link {
  text-decoration: none;
  color: #222;
  display: inline-block;
}
a:hover,
a:visited:hover,
a:link:hover {
  color: #13a3f3;
  cursor: pointer;
}
.preview {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
}

.return_button {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 16px;
  color: #222;
  padding: 8px;
  display: block;
}

.controls_mouse {
  border-radius: 10px;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 16px;
  background-color: rgba(0,0,0,0.4);
  color: #222;
  padding: 8px;
  display: block;
}

.control_view{
  text-align: left;
}

.button_size{
  width: 180px;
  height: 40px;
}

/*screen */
.screen {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  left: 16px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
}

.screen canvas {
  transform: scale(-1, 1);
}
.screen a {
  border-radius: 24px;
  margin: 0 4px;
}
.screen a:hover {
  background: #ffffff20;
}

.screen_guides {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
}
/*screen end*/
video {
  max-width: 400px;
  height: auto;
}
.video_transformer {
  transform: scale(-1, 1);
}
.preview canvas {
  transform: scale(-1, 1);
}
body {
  margin: 0;
}
canvas {
  display: block;
}
.guides {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
}
nav {
  position: absolute;
  top: 12px;
  right: 16px;
  display: flex;
}
nav img {
  width: 36px;
  height: auto;
  margin-left: 22px;
}
section {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px 0 16px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  color: white;
  z-index: 2;
  /* border-radius: 40px; */
}
p {
  color: white;
  padding: 8px 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}
.preview a {
  border-radius: 24px;
  margin: 0 4px;
}
.preview a:hover {
  background: #ffffff20;
}
a.selector {
  background: #13a3f3;
}


.button1 {
  border-radius: 10px;
  background-color: #8D4BE0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_inline{
  display: inline-block;
}

.button_vertically{
  display: block;
  margin-bottom: 10px;
}


.button1:hover {
  background-color: #D875FF;
  color: white;
}

.linkOut {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: inline;
  color: black;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  video {
    max-width: 160px;
  }
}

/* Screen record css */

.screen_video {
  width: 30%;
  border-radius: 5px;
  border: 1px solid black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.make_white {
  color: white;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#options {
  display: table;
  margin: 50px auto 0px;
}

.option {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 15px;
}

/* neon button */
button,
button::after {
  /*width: 380px;
  height: 86px;
  font-size: 36px;
  */
  background: #222;
  border: 0;
  margin: 0 4px;
  color: #fff;
  margin: 2px;
  border-radius: 24px;
  overflow: hidden;
  /*line-height: 88px; */
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
